[MESSAGES CONTROL]

disable=
    missing-docstring,
    too-few-public-methods,
    no-self-use

[IMPORTS]
known-third-party=
    airflow

[SIMILARITIES]
min-similarity-lines=5
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
