apache-airflow[crypto,celery,postgres,jdbc,ssh]==1.10.13
backoff==1.10.0
bigquery-schema-generator==1.4
bigquery-views-manager==1.0.3
boto3==1.17.72
cattrs==1.0.0
cloudpickle==1.4.1
dateparser==1.0.0
dask[complete]==2021.2.0
distributed==2021.2.0
fsspec==2021.4.0
google-api-python-client==2.4.0
google-cloud-bigquery==2.16.1
google-oauth==1.0.1
jinjasql==0.1.8
PyYAML==5.4.1
s3fs==2021.5.0
six==1.16.0
