apache-airflow[crypto,celery,postgres,hive,jdbc,ssh]==1.10.6
boto3==1.10.28
google-cloud-bigquery==1.22.0
google-oauth==1.0.0
dateparser==0.7.2
dask[complete]==2.8.1
distributed==2.8.1
google-api-python-client==1.7.11
airflow-prometheus-exporter
